.tabs{
    border-bottom:2px solid #f0f0f0;
    padding-bottom:5px;
}
.tab{
    background-position:left;
    background-repeat: no-repeat;
    padding:5px 0 5px 16px;
    margin-right:16px;
    color:rgba(0,0,0,.65);
}
.tab:hover{
    cursor: pointer;
    color:#40a9ff;
}
.tab:active{
    color:#096dd9;
}
.all{
    background-image:url(../../../assets/imgs/all_dark.png);
}
.all:hover{
    background-image:url(../../../assets/imgs/all_lightblue.png);
}
.all:active,.all.selected{
    background-image:url(../../../assets/imgs/all_darkblue.png);
    border-bottom:2px solid #096dd9;
    color:#096dd9;
}
.done{
    background-image:url(../../../assets/imgs/done_dark.png);
}
.done:hover{
    background-image:url(../../../assets/imgs/done_lightblue.png);
}
.done:active,.done.selected{
    background-image:url(../../../assets/imgs/done_darkblue.png);
    border-bottom:2px solid #096dd9;
    color:#096dd9;
}
.undo{
    background-image:url(../../../assets/imgs/undo_dark.png);
}
.undo:hover{
    background-image:url(../../../assets/imgs/undo_lightblue.png);
}
.undo:active,.undo.selected{
    background-image:url(../../../assets/imgs/undo_darkblue.png);
    border-bottom:2px solid #096dd9;
    color:#096dd9;
}