.tabs{
    border-bottom:2px solid #f0f0f0;
    padding-bottom:5px;
}
.tab{
    padding:5px 0 5px 16px;
    margin-right:16px;
    color:rgba(0,0,0,.65);
}
.tab:hover{
    cursor: pointer;
    color:#40a9ff;
}
.tab:active,.tab.selected{
    border-bottom:2px solid #096dd9;
    color:#096dd9;
}
.tab:before{
    content:"";
    display: inline-block;
    width:16px;
    height:16px;
    vertical-align: middle;
    filter: saturate(.1) hue-rotate(210deg);
}
.all:before{
    background-image:url(../../../assets/imgs/all.png);
}
.done:before{
    background-image:url(../../../assets/imgs/done.png);
}
.undo:before{
    background-image:url(../../../assets/imgs/undo.png);
}
.tab:hover:before{
    filter:saturate(10) hue-rotate(50deg);
}
.tab:active:before,.tab.selected:before{
    filter:none;
}
