ul{
    list-style: none;
    padding-left: 0;
}
li{
   padding:5px; 
}


input[type="checkbox"]{
    margin-right:5px;
}

.delBtn{
    display:inline-block;
    width:16px;
    height:16px;
    vertical-align:middle;
    background:url(../../../assets/imgs/delete.png);
    filter: saturate(.1) hue-rotate(210deg);
}
.delBtn:hover{
    cursor:pointer;
    filter:saturate(10) hue-rotate(50deg);

}
.delBtn:active{
    filter:none;
}
