<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>components</title>
    <script type="text/x-template" id="anchoredHeading4icTemplate">
        <h1 v-if="level===1">
            <slot></slot>
        </h1>
        <h2 v-else-if="level===2">
            <slot></slot>
        </h2>
        <h3 v-else-if="level===3">
            <slot></slot>
        </h3>
        <h4 v-else-if="level===4">
            <slot></slot>
        </h4>
        <h5 v-else-if="level===5">
            <slot></slot>
        </h5>
        <h6 v-else-if="level===6">
            <slot></slot>
        </h6>
    </script>
</head>
<body>
    <div id="root4ic"></div>
    <div id="root4sfc"></div>
    <div id="root4gc"></div>
    <div id="root4lc"></div>
</body>
</html>